<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Filtro de Mascotas</h2>
  <input type="text" id="filtro" placeholder="Buscar mascota..." />

  <ul id="lista">
    <li>Perro</li>
    <li>Gato</li>
    <li>Loro</li>
    <li>Hamster</li>
  </ul>

  <div id="mensajeVacio" class="mensaje-vacio">
    🚫 No hay datos que coincidan con tu búsqueda.
  </div>

</body>
<script src="../controllers/mostrarmensaje.js"></script>
</html>