<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="../assets/styles/notas.css">
    <script src="../controllers/rangoNotas.js"></script>
<head>
  <meta charset="utf-8">
  <title>Tabla de notas - Estudiantes</title>
</head>
<body>
  <table id="tabla-notas">
    <caption><strong>Registro de notas - Estudiantes</strong></caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Materia</th>
        <th scope="col">Correo</th>
        <th scope="col">Nota  1</th>
        <th scope="col">Nota  2</th>
        <th scope="col">Nota final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ana Pérez</td>
        <td>Matemáticas</td>
        <td>ana.perez@email.com</td>
        <td>85</td>
        <td>85</td>
        <td>78</td>

      </tr>
      <tr>
        <td>Carlos Gómez</td>
        <td>Biología</td>
        <td>c.gomez@email.com</td>
        <td>78</td>
        <td>78</td>
        <td>78</td>

      </tr>
      <tr>
        <td>Luisa Martínez</td>
        <td>Historia</td>
        <td>luisa.martinez@email.com</td>
        <td>92</td>
        <td>92</td>
        <td>78</td>

      </tr>
      <tr>
        <td>Diego Ramírez</td>
        <td>Física</td>
        <td>diego.ramirez@email.com</td>
        <td>67</td>
        <td>67</td>
      </tr>
      <tr>
        <td>María Torres</td>
        <td>Inglés</td>
        <td>maria.torres@email.com</td>
        <td>90</td>
        <td>90</td>
      </tr>
    </tbody>
  </table>
</body>
</html>


    
</body>
</html>