<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<body class="bg-light">
       <link rel="stylesheet" href="../assets/styles/style.css">

  <div class="container my-5">
    <h2 class="mb-4 text-center">Tabla de Asistencia</h2>
    <table class="table table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Posición</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Horas</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tabla-precente">
          <th scope="row" class="table-success">1</th>
          <td class="table-success">Ana García</td>
          <td class="table-success">Desarrolladora</td>
          <td class="table-success">2024-01-15</td>
          <td class="table-success">Presente</td>
          <td class="table-success">8</td>
        </tr>
        <tr class="tabla-faltantes">
          <th scope="row" class="table-danger">2</th>
          <td class="table-danger">Carlos López</td>
          <td class="table-danger">Diseñador</td>
          <td class="table-danger">2024-01-15</td>
          <td class="table-danger">Ausente</td>
          <td class="table-danger">0</td>
        </tr>
        <tr class="table-pasaron">
          <th scope="row" class="table-success">3</th>
          <td class="table-success">María Rodríguez</td>
          <td class="table-success">Gerente</td>
          <td class="table-success">2024-01-15</td>
          <td class="table-success">Presente</td>
          <td class="table-success">7.5</td>
        </tr>
        <tr class="tabla-peligro">
          <th scope="row" class="table-warning">4</th>
          <td class="table-warning">Juan Pérez</td>
          <td class="table-warning">Analista</td>
          <td class="table-warning">2024-01-15</td>
          <td class="table-warning">Tarde</td>
          <td class="table-warning">6</td>
        </tr>
        <tr class="tabla-pasaron">
          <th scope="row" class="table-success">5</th>
          <td class="table-success">Laura Martínez</td>
          <td class="table-success">QA</td>
          <td class="table-success">2024-01-15</td>
          <td class="table-success">Presente</td>
          <td class="table-success">8</td>
        </tr>
      </tbody>

<body>
    
</body>
</html>