body {
    background-color: #efe1ff; 
  }
  
  h2 {
    color: #4b0082;
  }
  
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  

  .table-danger {
    font-weight: bold;
    color: #4b0082;
  }


  